.body {
    display: flex;
    align-items: center;
    flex-direction: column;
}


.title--index{
    margin-bottom: 5px;
}

#forest {
    margin-right: 15px;
    width: 500px;
    height: 500px;
    background-color: #f0f0f0;
    position: relative;
}

.pineCrown {
    width: 5px;
    height: 5px;
    background-color: green;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
}

.trunk {
    width: 2px;
    height: 2px;
    background-color: brown;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
}

.main {
    display: flex;
}

.wrap-buttons {
    display: flex;
}

.wrap-buttons--index {
    flex-direction: column;
}

.btn {
    margin-top: 10px;
    margin-bottom: 15px;
    width: 10vw;
    height: 7vh;
    border: 0;
    cursor: pointer;
    background-color: rgb(214, 214, 214);
    border-radius: 5px;
}

.btn:hover {
    background-color: rgb(243, 243, 243);
}